<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net debug="true">
		<!-- LevelLevels from high to low -->
		<!-- None > Fatal > ERROR > WARN > DEBUG > INFO > ALL-->

		<root>
			<level value="ALL"/>
			<appender-ref ref="DebugConsoleAppender"/>
			<appender-ref ref="ConsoleAppender"/>
			<appender-ref ref="AllAppender"/>			
		</root>

		<appender name="DebugConsoleAppender" type="log4net.Appender.DebugAppender" >
			<layout type="log4net.Layout.PatternLayout">
				<!--Log output format: time  Log Type  Log content-->
				<conversionPattern value="%date{HH:mm:ss.fff} [%thread] [%-5level] - %message%newline%exception%newline"/>
			</layout>
		</appender>

		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
			<layout type="log4net.Layout.PatternLayout">
				<!--Log output format: time  Log Type  Log content-->
				<conversionPattern value="%date{HH:mm:ss.fff} [%thread] [%-5level] - %message%newline%exception%newline"/>
			</layout>
		</appender>

		<appender name="AllAppender" type="log4net.Appender.RollingFileAppender">
			<!--Directory path, which can be a relative path or an absolute path-->
			<param name="File" value="Log"/>
			<!--File name, generate folder by date-->
			<param name="DatePattern" value="/yyyy-MM-dd'.log'"/>
			<!--Append to file-->
			<appendToFile value="true"/>
			<!--How to create log files, optional values:Date[date],File size[Size],mix[Composite]-->
			<rollingStyle value="Composite"/>
			<!--Write to a file-->
			<staticLogFileName value="false"/>
			<!--Single file size. unit:KB|MB|GB-->
			<maximumFileSize value="200MB"/>
			<!--The maximum number of files to be kept, set as"-1"No limit-->
			<maxSizeRollBackups value="-1"/>
			<!--Log format-->
			<layout type="log4net.Layout.PatternLayout">
				<!--Log output format: time  Log Type  Log content-->
				<conversionPattern value="%date{HH:mm:ss.fff} [%thread] [%-5level] - %message%newline%exception%newline"/>
			</layout>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>

	</log4net>
</configuration>